<%- include('../partials/metadata') %>

    <header class="max-vw-100 fixed-top">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Peter Parks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-right" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="login">log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1></h1>
        <h1></h1>
    </div>
    <h1 class="display-3 text-center">Waiting Approval </h1>
    <main class="container text-center h-100">

        <div class="row">
            <!-- <div class="col">

            </div> -->
            <div class="col d-flex align-items-center ">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Merchant Name</th>
                            <th scope="col">Parking Spot Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amina</td>
                            <td>Sonargaon Hotel</td>
                            <td>07 Kazi Nazrul Islam Ave, Dhaka 1215</td>
                            <td>Dhaka</td>
                            <td>16 April</td>
                            <td>50</td>
                            <td>
                                <button type="submit" class="btn btn-primary btn-success">Approve</button>
                                <button type="submit" class="btn btn-hover btn-hover btn-danger ">Decline</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- <div class="col">

            </div> -->
        </div>
    </main>
    <%- include('../partials/close') %>