<%- include('../partials/metadata') %>

    <header class="max-vw-100 fixed-top">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Peter Parks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-right" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="login">Not Admin?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container text-center h-100">
        <div class="row">
            <div class="col">

            </div>
            <div class="col d-flex align-items-center vh-100">
                <form class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Admin Name</label>
                            <input type="name" class="form-control" id="adminID">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <a href="admin-manage" type="submit" class="btn btn-primary btn-success">Log In </a>
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </main>
    <%- include('../partials/close') %>