<%- include('../partials/metadata') %>

    <header class="max-vw-100 fixed-top">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Peter Parks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse align-items-right" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin-login">Admin?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container text-center h-100">
        <div class="row">
            <div class="col">
            </div>
            <div class="col d-flex align-items-center vh-100">
                <form action='/login' method='POST' class="card">
                    <div class="card-body">
                        <% if (locals.error) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                            <br>
                            <% } %>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1">
                                </div>
                                <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                                <button type="submit" class="btn btn-primary btn-success">Log In </button>
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </main>
    <%- include('../partials/close') %>