<%- include('../partials/metadata') %>
    <%- include('../partials/navbar-merchant') %>
        <main class="container text-center h-100">
            <div class="row">
                <div class="col">

                </div>
                <div class="col d-flex align-items-center vh-100">
                    <form action="/postparking" method="post" class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="yourName" class="form-label"> Parking Spot Name</label>
                                <input type="name" class="form-control" id="inputName">
                            </div>
                            <div class="mb-3">
                                <label for="yourEmail1" class="form-label">Address</label>
                                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">

                            </div>
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choose Your Location</option>
                                    <option value="Dhaka">Dhaka</option>
                                    <option value="Sylhet">Sylhet</option>
                                    <option value="Chittagong">Chittagong</option>
                                </select>
                            </div>

                            <div class="mb-3">

                                <label for="formFile" class="form-label">Parking Spot Image</label>
                                <input class="form-control form-control-sm" type="text"
                                    placeholder="Give a Link to the image" aria-label=".form-control-sm example">
                            </div>

                            <div class="mb-3">
                                <label for="InputPassword" class="form-label"> Set Price</label>
                                <input type="password" class="form-control" id="InputPassword">
                            </div>

                            <button type='submit' class="btn btn-primary btn-success">Post Parking Spot</button>
                        </div>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>
        </main>
        <%- include('../partials/close') %>